body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #3C275A;
    color: white;
    border: solid 1px #D6A800;
    padding: 10px;
}

li {
    color: #453674;
}

a:link {
    text-decoration: none;
    color: #453674;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3C275A;
}

.return-home {
    color: #453674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3C275A;
}